version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: "daily"
    time: "19:30"
- package-ecosystem: gomod
  directory: "/providers/terraform-provider-csbmssqldbrunfailover"
  schedule:
    interval: "weekly"
    day: "saturday"
  groups:
    azure-sdk-for-go:
      patterns:
        - "github.com/Azure/azure-sdk-for-go/*"
- package-ecosystem: gomod
  directory: "/acceptance-tests/apps/mongodbapp"
  schedule:
    interval: "weekly"
    day: "saturday"
  labels:
    - "test-dependencies"
- package-ecosystem: gomod
  directory: "/acceptance-tests/apps/postgresqlapp"
  schedule:
    interval: "weekly"
    day: "saturday"
  labels:
    - "test-dependencies"
- package-ecosystem: gomod
  directory: "/acceptance-tests/apps/mssqlapp"
  schedule:
    interval: "weekly"
    day: "saturday"
  labels:
    - "test-dependencies"
- package-ecosystem: gomod
  directory: "/acceptance-tests/apps/redisapp"
  schedule:
    interval: "weekly"
    day: "saturday"
  labels:
    - "test-dependencies"
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
    time: "00:00"
