export PAK_BUILD_CACHE_PATH=/tmp/.pak-cache
export CSB_DISABLE_TF_UPGRADE_PROVIDER_RENAMES=false
export TERRAFORM_UPGRADES_ENABLED=true
export BROKERPAK_UPDATES_ENABLED=true
export GSB_SERVICE_CSB_AZURE_POSTGRESQL_FLEXIBLE_SERVER_PLANS='[{"name":"default","id":"62c5a9d6-d3c5-4544-a8a6-85af30f7e41c","description":"Example Azure PostgreSQL with flexible server","metadata":{"display_name":"example"},"sku_name": "GP_Standard_D2ads_v5", "postgres_version": "15"}]'