export PAK_BUILD_CACHE_PATH=/tmp/.pak-cache
export CSB_DISABLE_TF_UPGRADE_PROVIDER_RENAMES=false
export TERRAFORM_UPGRADES_ENABLED=true
export BROKERPAK_UPDATES_ENABLED=true
export GSB_COMPATIBILITY_ENABLE_GCP_DEPRECATED_SERVICES=true